---
import { Image } from "astro:assets";
import java from "../../public/images/java.png";
import sql from "../../public/images/sql.png";
import flask from "../../public/images/flask.png";
import c from "../../public/images/C.png";
import react from "../../public/images/react.png";
import ts from "../../public/images/typescript.png";
import python from "../../public/images/python.png";
import js from "../../public/images/js.png";
---

<div class="techStackContainer">
    <div class="titleContainer">
        <h1 class="title">TOOL BOX</h1>
    </div>
    <div class="marqueeContainer">
        <div class="icons">
            <Image
                class="icon"
                src={sql}
                alt="sql-icon"
                width="80"
                height="80"
            />
            <Image
                class="icon"
                src={flask}
                alt="flask-icon"
                width="80"
                height="80"
            />
            <Image
                class="icon"
                src={java}
                alt="java-icon"
                width="60"
                height="80"
            />
            <Image 
                class="icon" 
                src={c} alt="c-icon" 
                width="70" 
                height="80" />
            <Image
                class="icon"
                src={react}
                alt="react-icon"
                width="70"
                height="80"
            />
            <Image
                class="icon"
                src={ts}
                alt="typescript-icon"
                width="70"
                height="80"
            />
            <Image
                class="icon"
                src={python}
                alt="python-icon"
                width="80"
                height="100"
            />
            <Image
                class="icon"
                src={js}
                alt="javascript-icon"
                width="70"
                height="80"
            />
        </div>
        <div aria-hidden="true" class="icons">
            <Image
                class="icon"
                src={sql}
                alt="sql-icon"
                width="80"
                height="80"
            />
            <Image
                class="icon"
                src={flask}
                alt="flask-icon"
                width="80"
                height="80"
            />
            <Image
                class="icon"
                src={java}
                alt="java-icon"
                width="60"
                height="80"
            />
            <Image 
                class="icon" 
                src={c} 
                alt="c-icon" 
                width="70" 
                height="80" />
            <Image
                class="icon"
                src={react}
                alt="react-icon"
                width="70"
                height="80"
            />
            <Image
                class="icon"
                src={ts}
                alt="typescript-icon"
                width="70"
                height="80"
            />
            <Image
                class="icon"
                src={python}
                alt="python-icon"
                width="80"
                height="100"
            />
            <Image
                class="icon"
                src={js}
                alt="javascript-icon"
                width="70"
                height="80"
            />
        </div>
    </div>
</div>

<style>
    .marqueeContainer {
        --gap: 1rem;
        position: relative;
        display: flex;
        overflow: hidden;
        user-select: none;
        gap: var(--gap);
    }
    .title {
        color: var(--Main, #0a929b);
        text-align: center;
        font-family: Lato;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .icons {
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: var(--gap);
        min-width: 100%;
        animation: scroll 10s linear infinite;
    }
    /* Marquee Animation citation */
    /* https://ryanmulligan.dev/blog/css-marquee/ */
    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - var(--gap)));
        }
    }
    /* Pause animation when reduced-motion is set */
    @media (prefers-reduced-motion: reduce) {
        .icons {
            animation-play-state: paused !important;
        }
    }
    @media (min-width: 768px) {
        .techStackContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 20px;
            padding: 20px 20px 0px 20px;
        }
        .title {
            font-size: 32px;
        }
    }
</style>
